---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=Hey%20I%20can%20post%20messages%21&channel=YOUR-CHANNEL-NAME
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 7befbb63a47ac20ded659066fbd6c802
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - chat:write
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-07yl,haproxy-edge-pdx-8rbg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Thu, 08 Oct 2020 18:30:39 GMT
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=Hey%20I%20can%20post%20messages%21&channel=random
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - fa6c92eba4635e7feb512e85ad45d7e5
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - chat:write
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-dssj,haproxy-edge-pdx-bahq
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":"C01BRQX6RP1","ts":"1602181957.000400","message":{"bot_id":"B01C8L0HXBM","type":"message","text":"Hey
        I can post messages!","user":"U01BTMKBBFH","ts":"1602181957.000400","team":"T01CCN0K4PN","bot_profile":{"id":"B01C8L0HXBM","deleted":false,"name":"Mary
        Shelley''s Wellness Tips","updated":1602179887,"app_id":"A01CEJ89352","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"T01CCN0K4PN"}}}'
  recorded_at: Thu, 08 Oct 2020 18:32:37 GMT
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=This%20post%20should%20not%20work&channel=invalid-channel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 5b459b5fdf32f61edca5b02a2c0ba3e4
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - chat:write
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-sres,haproxy-edge-pdx-rf66
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Thu, 08 Oct 2020 18:38:20 GMT
recorded_with: VCR 6.0.0
