---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=Hey%20I%20can%20post%20messages%21&channel=sockets-api-testing
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - chat:write:bot,post
      X-Oauth-Scopes:
      - read,client,identify,post,apps
      X-Slack-Req-Id:
      - 984be530-dcd2-4748-88d7-8fbe374ddbb1
      X-Via:
      - haproxy-www-kp4a
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"CFRFJTXR8","ts":"1548726071.001000","message":{"type":"message","subtype":"bot_message","text":"Hey
        I can post messages!","ts":"1548726071.001000","username":"Slack API Tester","bot_id":"BFQPDQZHN"}}'
  recorded_at: Tue, 29 Jan 2019 01:41:11 GMT
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=INVALID%20TOKEN&text=Hey%20I%20can%20post%20messages%21&channel=sockets-api-testing
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 5d7956df-4f7b-40a6-adf4-82e37da7738c
      X-Via:
      - haproxy-www-4b77
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Tue, 29 Jan 2019 01:41:11 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=Hey%20I%20can%20post%20messages%21&channel=invalid-channel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - chat:write:bot,post
      X-Oauth-Scopes:
      - read,client,identify,post,apps
      X-Slack-Req-Id:
      - a3a2cd1a-ee59-47cd-a296-035c9deccb5a
      X-Via:
      - haproxy-www-6m47
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Tue, 29 Jan 2019 01:43:17 GMT
recorded_with: VCR 4.0.0
